<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mini-card">
  
  <header class="section__play-btn mdl-cell mdl-cell--1-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone <%= build_color(build) %> mdl-color-text--white">

    <!-- <i class="material-icons">play_circle_filled</i> -->
  </header>

  <div class="mdl-card mdl-cell mdl-cell--11-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card__supporting-text">
      <span class="title">
        <%= status_icon(build) %>
        <span class="truncate">
          <%= link_to repo.name, "/repos/#{repo.name}" %>          
        </span>
      </span>
      <% if build.present? %>
        <div class="stats">
          <p> <strong>Duration:</strong> <%= build.to_duration %></p>
          <p> <strong>Finished:</strong> <%= time_ago_in_words(build.created_at) %></p>  
        </div>
      <% end %>
    </div>
  </div>

</section>