<%= render "card" %>

<h3> Builds </h3>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width:100%">
  
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">
        Build
      </th>
      <th>Message</th>
      <th>Commit</th>
      <th>Duration</th>
      <th>Finished</th>
    </tr>
  </thead>

  <tbody>
    <% @repo.build_reports.each do |build| %>
      <tr>
        
        <td class="mdl-data-table__cell--non-numeric">
          <a href="/repos/<%=@repo.name%>/builds/<%=build.id%>">
            <%= build.status %>
          </a>
        </td>

        <td class="mdl-data-table__cell--non-numeric">
          <a href="/repos/<%=@repo.name%>/builds/<%=build.id%>">
            <%= build.status %>
          </a>
        </td>

        <td>
          <%= build.sha[0..7]%>
          <% if build.branch.present? %>
            <strong>
            <%= "(#{build.branch})" %>
            </strong>
          <%end%>
        </td>

        <td>
          <% if build.build_status == "stopped" %>
            <%= "(#{build.duration}) secs" %>
          <% else %>
            - running
          <% end %>
        </td>

        <td>
          <% if build.build_status == "stopped" %>
            <abbr class="timeago" title= <%= build.build_time %> >
          <% end %>
        </td>
        
      </tr>
    <% end %>
    
  </tbody>
</table>