<tr>
  
  <td class="mdl-data-table__cell--non-numeric">
    <a href="/repos/<%=repo.name%>/builds/<%=build.id%>">
      <%= status_icon build  %>
    </a>
  </td>

  <td class="mdl-data-table__cell--non-numeric">
    <%= build.build_status  %>
  </td>

  <td class="mdl-data-table__cell--non-numeric">
    <%= build.commit[:commit][:message].split("\n")[0] if build.commit.present? %>
  </td>

  <td class="mdl-data-table__cell--non-numeric">
    <%= build.sha[0..7]%>
    <% if build.branch.present? %>
      <strong>
        <%= "(#{build.branch})" %>
      </strong>
    <%end%>
  </td>

  <td class="mdl-data-table__cell--non-numeric">
    <%= build.to_duration || "-" %>
  </td>

  <td class="mdl-data-table__cell--non-numeric">
    <abbr class="timeago" title= <%= build.build_time %> >
      <%= time_ago_in_words(build.build_time) rescue "-" %>
    </abbr>
  </td>
  
</tr>