<!DOCTYPE html>
<html>
<head>
  <title>Perkinsci</title>
  
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">PerkinsCI</span>
      <%= render "shared/side_nav" %>
    </div>

    <main class="mdl-layout__content">

      <%= render "shared/header" %> 

      <div class="page-content">
        <% if session[:flash].present? %>
          <div class="mdl-components__warning">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
          </div>
        <% end %>
        <%= yield %>
      </div>

      <%= render "shared/footer" %>

    </main>

  </div>

</body>
</html>
